/* #22577A */
/* #38A3A5 */
/* #57CC99 */
/* #80ED99 */
/* #C7F9CC */
body {
  background-color: #C7F9CC;
  font-family: "Arial", Times, serif;
  font-size: 2rem;
}

body .bold {
    font-weight: bold;
}

body .fieldsetLabelSettings {
    color: black;
}

body .fieldsetLabelDetails {
    color: white;
    width: auto;
}

body .fieldsetLabelDetailsInfoText {
    color: black;
    overflow-wrap: break-word;
}

body .fieldsetLabelDetailsInfoTextWrapAnywhere {
    color: black;
    overflow-wrap: anywhere;
}


body .fieldsetLabelDetailsTagText {
    color: white;
    background-color: #247577;
    padding: 1px;
    margin: 3px;
    border-radius: 5px;
}

body .fieldSetLabelDetailsTagBox {
    background-color: #247577;
    border-radius: 10px;
}

body .fieldsetDetails {
    border: none;
    background-color: #38a3a5;
    color: #495057;
    padding: 0rem;
    border-radius: 4px;
}

body .ui-panelgrid {
       border-collapse: unset;
}

body .ui-panelgrid .ui-panelgrid-cell {
    border: none;
    background: none;
    color: white;
    padding: 5px;
}

body .ui-card {
    background: #38a3a5;
    color: white;
    box-shadow: none;
    border-radius: 5px;
}

body .ui-card .ui-card-body {
    padding: 0rem;
}

body .ui-card .ui-card-content {
    padding: 5px;
}

body .ui-card .ui-card-title {
    display: flex;
    justify-content: center;
}

body .ui-panelgrid .ui-panelgrid-cell.ui-widget-header {
    padding: 0px;
}

body .ui-button {
    border: none;
}

body .panelGridDownloadButtons{
    display: flex;
    justify-content: space-between;
}

body .ui-menu {
    width: fit-content;
}

body .ui-menu .ui-menuitem-link {
    white-space: nowrap;
}

body .ui-dialog.ui-resizable .ui-dialog-content {
    box-sizing: content-box;
    justify-content: center;
    display: flex;
}

body .ui-button.ui-button-text-only .ui-button-text {
    padding: 0px;
}

body .ui-dialog.ui-resizable .ui-dialog-content {
    box-sizing: content-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

body .login {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -100px;
    width: 200px;
    height: 200px;
}

body .ui-menu .ui-menu-list .ui-menu-child {
    background: none;
}

body .ui-menuitem-link {
    background: #38a3a5;
}

body .ui-menu .ui-menu-list .ui-menuitem .ui-menuitem-link .ui-menuitem-icon {
    margin-right: 0.5rem;
    vertical-align: middle;
    float: none;
    color: white;
}

body .ui-menu .ui-menu-list .ui-menuitem .ui-menuitem-link .ui-menuitem-text {
    font-weight: bold;
    float: none;
    vertical-align: middle;
    color: white;
}