<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core">

<h:head>
    <title>viewR / Login</title>
    <link rel="shortcut icon" type="mediaItem/x-icon" href="#{resource['images/favicon.ico']}"/>
    <f:facet name="last">
        <h:outputStylesheet library="css" name="styles.css"/>
    </f:facet>
</h:head>

<h:body>
    <h:form>
        <p:growl id="msg" showDetail="true"/>
        <div class="login">
            <p:panelGrid columns="1" styleClass="ui-fluid center ui-noborder">
                <p:graphicImage name="images/viewR.png"
                                height="39px"
                                width="220px"
                                cache="false"/>
                <p:outputLabel value="Login failed!"
                               rendered="${!empty param['error']}"
                               style="color: red;"/>
                <p:inputText id="username"
                             placeholder="Username"
                             value="#{loginBean.username}"/>
                <p:password id="password"
                            placeholder="Password"
                            value="#{loginBean.password}"/>
                <p:commandButton value="Login"
                                 ajax="false"
                                 styleClass="ui-button-success"
                                 action="#{loginBean.login}"
                                 style="height: 50px;"/>
                <p:commandLink action="#{loginBean.redirectToRegistration}">
                    <p:outputLabel class="bold" value="Create new account"/>
                </p:commandLink>
            </p:panelGrid>
        </div>
    </h:form>
</h:body>
</html>