<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">

<h:head>
    <title>viewR / Register</title>
    <link rel="shortcut icon" type="mediaItem/x-icon" href="#{resource['images/favicon.ico']}"/>
    <f:facet name="last">
        <h:outputStylesheet library="css" name="styles.css"/>
    </f:facet>
</h:head>

<h:body>
    <h:form id="registrationForm">
        <p:growl id="msg" showDetail="true"/>
        <div class="login">
            <p:panelGrid columns="1" styleClass="ui-fluid center ui-noborder">
                <p:graphicImage name="images/viewR.png"
                                height="39px"
                                width="220px"
                                cache="false"/>
                <p:inputText id="username"
                             placeholder="Username"
                             value="#{userBean.newUserName}"/>
                <p:password id="password"
                            placeholder="Password"
                            value="#{userBean.newUserPassword}"/>
                <p:password id="password2"
                            placeholder="Re-Enter Password"
                            value="#{userBean.newUserPassword2}"/>
                <p:commandButton value="Create new account"
                                 ajax="false"
                                 action="#{userBean.createNewUser}"
                                 styleClass="ui-button-success"
                                 style="height: 50px;"/>
            </p:panelGrid>
        </div>
    </h:form>

</h:body>

</html>