<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core">

<h:head>
    <title>viewR / Sources</title>
    <link rel="shortcut icon" type="mediaItem/x-icon" href="#{resource['images/favicon.ico']}"/>
    <f:facet name="last">
        <h:outputStylesheet library="css" name="styles.css"/>
    </f:facet>
</h:head>

<h:body>

    <p:panelGrid columns="1" style="margin-bottom: 20px;">
        <h:form>
            <h:commandLink action="#{viewRBean.redirectToHome}">
                <p:graphicImage name="images/viewR.png" height="39px" width="220px" cache="false"/>
                <f:actionListener binding="#{viewRBean.updateDB()}"/>
            </h:commandLink>
        </h:form>
    </p:panelGrid>

    <h:form>
        <p:growl id="growl" showDetail="true"/>
        <p:menubar style="position: absolute; right: 20px; top: 10px; background: #38a3a5;">
            <p:submenu label="Settings" icon="pi pi-fw pi-file" style="color: white;">
                <p:menuitem value="#{userBean.getLoggedInUser()}"/>
                <p:menuitem value="Sources" icon="pi pi-fw pi-globe" action="sources"/>
                <p:menuitem value="Statistics" icon="pi pi-fw pi-database" action="stats"/>
                <p:menuitem value="Media Scale" icon="pi pi-fw pi-images" action="mediaScale"/>
                <p:menuitem value="Users" icon="pi pi-fw pi-users" action="users"/>
                <p:menuitem value="Logout" icon="pi pi-fw pi-sign-out" action="#{loginBean.logout()}"/>
            </p:submenu>
        </p:menubar>
        <p:card style="background: #38a3a5;">
            <p:fieldset legend="new Source">
                <p:panelGrid id="panelGridNewSource" columns="2">
                    <p:outputLabel class="bold fieldsetLabelSettings" value="Display name of source"/>
                    <p:inputText id="float-input-newSourceDisplayName" value="#{settingsBean.newSourceDisplayName}"/>
                    <p:outputLabel class="bold fieldsetLabelSettings" value="Internet address of source"/>
                    <p:inputText id="float-input-newSourceWebsite" value="#{settingsBean.newSourceWebsite}"/>
                </p:panelGrid>
                <p:commandButton
                        value="Add"
                        icon="pi pi-save"
                        action="#{settingsBean.updateAllSources()}"
                        update="fieldsetListAllSources"
                        styleClass="ui-button-success"
                        style="margin-top: 5px;"
                        disabled="#{not userBean.hasPermission('editor')}">
                    <f:actionListener binding="#{settingsBean.addNewSource()}"/>
                </p:commandButton>
            </p:fieldset>
            <p:spacer/>
            <p:fieldset id="fieldsetListAllSources" legend="List of all sources">
                <p:panelGrid id="panelGridAllSources">
                    <p:column/>
                    <p:column>
                        <p:outputLabel class="bold fieldsetLabelSettings" value="Source Name"/>
                    </p:column>
                    <p:column>
                        <p:outputLabel class="bold fieldsetLabelSettings" value="Website"/>
                    </p:column>
                    <p:column>
                        <p:outputLabel class="bold fieldsetLabelSettings" value="Added On"/>
                    </p:column>
                    <ui:repeat value="#{settingsBean.sources}" var="source">
                        <p:row>
                            <p:column>
                                <p:commandButton
                                        value="DELETE"
                                        icon="pi pi-trash"
                                        action="#{settingsBean.updateAllSources()}"
                                        update="@form"
                                        styleClass="ui-button-danger"
                                        disabled="#{not userBean.hasPermission('editor')}">
                                    <f:actionListener binding="#{settingsBean.deleteSelectedSource(source)}"/>
                                </p:commandButton>
                            </p:column>
                            <p:column>
                                <p:outputLabel class="fieldsetLabelSettings" value="#{source.displayName}"/>
                            </p:column>
                            <p:column>
                                <p:outputLabel class="fieldsetLabelSettings" value="#{source.website}"/>
                            </p:column>
                            <p:column>
                                <p:outputLabel class="fieldsetLabelSettings" value="#{source.createdOn}"/>
                            </p:column>
                        </p:row>
                    </ui:repeat>
                </p:panelGrid>
            </p:fieldset>
        </p:card>
    </h:form>

</h:body>

</html>