<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core">

<h:head>
    <title>viewR / Statistics</title>
    <link rel="shortcut icon" type="mediaItem/x-icon" href="#{resource['images/favicon.ico']}"/>
    <f:facet name="last">
        <h:outputStylesheet library="css" name="styles.css"/>
    </f:facet>
</h:head>

<h:body>

    <p:panelGrid columns="1" style="margin-bottom: 20px;">
        <h:form>
            <h:commandLink action="#{viewRBean.redirectToHome}">
                <p:graphicImage name="images/viewR.png" height="39px" width="220px" cache="false"/>
                <f:actionListener binding="#{viewRBean.updateDB()}"/>
            </h:commandLink>
        </h:form>
    </p:panelGrid>

    <h:form>
        <p:growl id="growl" showDetail="true" />
        <p:menubar style="position: absolute; right: 20px; top: 10px; background: #38a3a5;">
            <p:submenu label="Settings" icon="pi pi-fw pi-file" style="color: white;">
                <p:menuitem value="#{userBean.getLoggedInUser()}"/>
                <p:menuitem value="Sources" icon="pi pi-fw pi-globe" action="sources"/>
                <p:menuitem value="Statistics" icon="pi pi-fw pi-database" action="stats"/>
                <p:menuitem value="Media Scale" icon="pi pi-fw pi-images" action="mediaScale"/>
                <p:menuitem value="Users" icon="pi pi-fw pi-users" action="users"/>
                <p:menuitem value="Logout" icon="pi pi-fw pi-sign-out" action="#{loginBean.logout()}"/>
            </p:submenu>
        </p:menubar>
        <p:card style="background: #38a3a5;">
            <p:fieldset legend="Server Statistics">
                <p:panelGrid columns="2">
                    <p:outputLabel value="Number of images" style="color:black;"/>
                    <p:outputLabel value="#{settingsBean.nrOfImages}" style="color:black;"/>
                    <p:outputLabel value="Total Size" style="color:black;"/>
                    <p:outputLabel value="#{settingsBean.totalFileSize}" style="color:black;"/>
                </p:panelGrid>
            </p:fieldset>
        </p:card>
    </h:form>

</h:body>

</html>