<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core">

<h:head>
    <title>viewR / Statistics</title>
    <link rel="shortcut icon" type="mediaItem/x-icon" href="#{resource['images/favicon.ico']}"/>
    <f:facet name="last">
        <h:outputStylesheet library="css" name="styles.css"/>
    </f:facet>
</h:head>

<h:body>

    <p:panelGrid columns="1" style="margin-bottom: 20px;">
        <h:form>
            <h:commandLink action="#{viewRBean.redirectToHome}">
                <p:graphicImage name="images/viewR.png" height="39px" width="220px" cache="false"/>
                <f:actionListener binding="#{viewRBean.updateDB()}"/>
            </h:commandLink>
        </h:form>
    </p:panelGrid>

    <h:form>
        <p:growl id="growl" showDetail="true" />
        <p:menubar style="position: absolute; right: 20px; top: 10px; background: #38a3a5;">
            <p:submenu label="Settings" icon="pi pi-fw pi-file" style="color: white;">
                <p:menuitem value="#{userBean.getLoggedInUser()}"/>
                <p:menuitem value="Sources" icon="pi pi-fw pi-globe" action="sources"/>
                <p:menuitem value="Statistics" icon="pi pi-fw pi-database" action="stats"/>
                <p:menuitem value="Media Scale" icon="pi pi-fw pi-images" action="mediaScale"/>
                <p:menuitem value="Users" icon="pi pi-fw pi-users" action="users"/>
                <p:menuitem value="Logout" icon="pi pi-fw pi-sign-out" action="#{loginBean.logout()}"/>
            </p:submenu>
        </p:menubar>
        <p:card id="carduserManagement" style="background: #38a3a5;">
            <p:fieldset legend="User Management">
                <p:outputLabel value="User to load" style="color:black;"/>
                <p:spacer width="10"/>
                <p:inputText value="#{userBean.selectedUserID}" style="color:black;"/>
                <p:spacer width="10"/>
                <p:commandButton type="submit"
                                 value="LOAD"
                                 icon="pi pi-search"
                                 action="#{userBean.loadUser(userBean.selectedUserID)}"
                                 update="carduserManagement"
                                 styleClass="ui-button-success"
                                 disabled="#{not userBean.hasPermission('admin')}"/>
            </p:fieldset>
            <p:spacer height="15"/>
            <p:fieldset id="fieldSetPermissions" legend="User Permissions" rendered="#{userBean.userLoaded}">
                <p:panelGrid>
                    <p:row>
                        <p:column>
                            <p:inputText value="#{userBean.newPermission}"
                                         placeholder="Add new Permission"
                                         style="color:black;"/>
                        </p:column>
                        <p:column>
                            <p:commandButton value="ADD"
                                             icon="pi pi-save"
                                             action="#{userBean.loadUser(userBean.selectedUserID)}"
                                             update="fieldSetPermissions"
                                             styleClass="ui-button-success">
                                <f:actionListener
                                        binding="#{userBean.addPermission(userBean.selectedUserID,userBean.newPermission)}"/>
                            </p:commandButton>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column>
                            <p:outputLabel class="bold fieldsetLabelSettings" value="Permission"/>
                        </p:column>
                    </p:row>
                    <ui:repeat value="#{userBean.loadedUser.permissions}" var="permission">
                        <p:row>
                            <p:column>
                                <p:outputLabel class="fieldsetLabelSettings" value="#{permission}"/>
                            </p:column>
                            <p:column>
                                <p:commandButton value="DELETE"
                                                 icon="pi pi-trash"
                                                 action="#{userBean.loadUser(userBean.selectedUserID)}"
                                                 update="@form"
                                                 styleClass="ui-button-danger">
                                    <f:actionListener
                                            binding="#{userBean.removePermission(userBean.selectedUserID,permission)}"/>
                                </p:commandButton>
                            </p:column>
                        </p:row>
                    </ui:repeat>
                </p:panelGrid>
            </p:fieldset>
        </p:card>
    </h:form>

</h:body>

</html>