<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core">

<h:head>
    <title>viewR</title>
    <link rel="shortcut icon" type="image/x-icon" href="#{resource['images/favicon.ico']}"/>
    <f:facet name="last">
        <h:outputStylesheet library="css" name="styles.css"/>
        <h:outputScript library="js" name="common.js"/>
    </f:facet>
</h:head>

<h:body>

    <p:panelGrid columns="2" style="margin-bottom: 20px;">
        <h:form>
            <h:commandLink action="#{viewRBean.redirectToHome}">
                <p:graphicImage name="images/viewR.png" height="39px" width="220px" cache="false"/>
                <f:actionListener binding="#{viewRBean.updateDB()}"/>
            </h:commandLink>
        </h:form>

        <p:commandButton
                type="button"
                value="ADD MEDIA"
                icon="pi pi-cloud-upload"
                iconPos="left"
                styleClass="ui-button-success"
                onclick="PF('addNewMediaDialog').show()"
                style="margin-bottom:5px"
                disabled="#{not userBean.hasPermission('editor')}"/>
        <p:dialog header="Add new media to the database" widgetVar="addNewMediaDialog">
            <div class="ui-fluid formgrid grid">
                <div class="field col-12 md:col-4">
                    <h:form>
                        <h5>Acquired from Source</h5>
                        <p:selectOneMenu id="source" value="#{fileUploadBean.selectedSource}"
                                         hideNoSelectionOption="#{not empty fileUploadBean.selectedSource}">
                            <p:ajax update="@this" process="@this"/>
                            <f:selectItem itemLabel="Select a source" itemValue="#{null}" noSelectionOption="true"/>
                            <f:selectItems value="#{sourcesBean.sourceNames}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="User from source"/>
                        <p:inputText value="#{fileUploadBean.selectedSourceUsername}">
                            <p:ajax update="@this" process="@this"/>
                        </p:inputText>
                        <h5>Click the button or drag and drop to upload media files</h5>
                        <p:fileUpload listener="#{fileUploadBean.handleFileUpload}"
                                      mode="advanced"
                                      multiple="true"
                                      dragDropSupport="true"
                                      sizeLimit="838860800"
                                      process="@form"
                                      update="fileUploadGrowl source"
                                      allowTypes="#{fileUploadBean.getValidFormats()}"/>
                    </h:form>
                    <p:growl
                            id="fileUploadGrowl"
                            showDetail="true"
                            sticky="true"
                            autoUpdate="true"/>
                </div>
            </div>
        </p:dialog>
        <p:menubar style="position: absolute; right: 20px; top: 10px; background: #38a3a5;">
            <p:submenu label="Settings" icon="pi pi-fw pi-file" style="color: white;">
                <p:menuitem value="#{userBean.getLoggedInUser()}"/>
                <p:menuitem value="Sources" icon="pi pi-fw pi-globe" action="sources"/>
                <p:menuitem value="Statistics" icon="pi pi-fw pi-database" action="stats"/>
                <p:menuitem value="Media Scale" icon="pi pi-fw pi-images" action="mediaScale"/>
                <p:menuitem value="Users" icon="pi pi-fw pi-users" action="users" rendered="true"/>
                <p:menuitem value="Logout" icon="pi pi-fw pi-sign-out" action="#{loginBean.logout()}"/>
            </p:submenu>
        </p:menubar>
    </p:panelGrid>
    <p:panelGrid id="mainPanelGrid">
        <p:row>
            <p:column style="padding: 0px; padding-bottom: 5px;">
                <h:form>
                    <span class="ui-fluid">
                        <p:autoComplete
                                id="searchAutocompleteID"
                                placeholder="Search"
                                multiple="true"
                                value="#{viewRBean.searchEntries}"
                                completeMethod="#{viewRBean.completeSearch}"
                                unique="true"
                                var="search"
                                itemLabel="#{search}"
                                itemValue="#{search}"
                                minQueryLength="3"
                                style="width: calc(100% - 85px);"/>
                        <p:commandButton
                                type="submit"
                                icon="pi pi-search"
                                iconPos="left"
                                styleClass="ui-button-outlined"
                                style="bottom: 13px; left: 5px; height: 38px; color:#22577A;"
                                action="#{viewRBean.filterSearch()}"
                                update="mainPanelGrid"/>
                        <p:importEnum type="viewR.util.SearchSetting" var="SearchSetting"
                                      allSuffix="ALL_ENUM_VALUES"/>
                        <p:menuButton icon="pi pi-sort-alt"
                                      buttonStyleClass="ui-button-outlined"
                                      buttonStyle="bottom: 13px; left: 10px; height: 38px; color:#22577A;">
                            <p:menuitem value="File Size ascending"
                                        action="#{viewRBean.sortSearch(SearchSetting.FILE_SIZE_ASC)}"
                                        update="mainPanelGrid"
                                        icon="pi pi-sort-amount-up"/>
                            <p:menuitem value="File Size descending"
                                        action="#{viewRBean.sortSearch(SearchSetting.FILE_SIZE_DESC)}"
                                        update="mainPanelGrid"
                                        icon="pi pi-sort-amount-down"/>
                            <p:menuitem value="Date added ascending"
                                        action="#{viewRBean.sortSearch(SearchSetting.DATE_ASC)}" update="mainPanelGrid"
                                        icon="pi pi-sort-numeric-up-alt"/>
                            <p:menuitem value="Date added descending"
                                        action="#{viewRBean.sortSearch(SearchSetting.DATE_DESC)}" update="mainPanelGrid"
                                        icon="pi pi-sort-numeric-down-alt"/>
                        </p:menuButton>
                    </span>
                </h:form>
            </p:column>
        </p:row>
        <p:row>
            <p:column style="background-color: #38A3A5; border-radius: 4px; vertical-align: top;">
                <ui:repeat value="#{viewRBean.mediaItemIds}" var="mediaItemID">
                    <p:commandLink action="#{viewRBean.toggleDetails(mediaItemID)}" update="mediaItemForm">
                        <p:graphicImage value="#{mediaItemStreamerBean.thumbnail}"
                                        style="padding-right:3px;"
                                        cache="false">
                            <f:param name="mediaItemID" value="#{mediaItemID}"/>
                        </p:graphicImage>
                    </p:commandLink>
                </ui:repeat>
            </p:column>
            <p:column style="display: block;">
                <h:form id="mediaItemForm">
                    <p:card id="detailsCard" rendered="#{viewRBean.detailsVisible}">
                        <p:panelGrid id="panelGridMediaItemDetails" columns="2">
                            <f:facet name="header">
                                <p:commandLink onclick="PF('fullMediaItemDialog').show()">
                                    <p:graphicImage value="#{mediaItemStreamerBean.detailsImage}"
                                                    style="border: 2px solid white;"
                                                    update="detailsCard fieldsetListAllSources"
                                                    cache="false">
                                        <f:param name="mediaItemID" value="#{mediaItemID}"/>
                                    </p:graphicImage>
                                </p:commandLink>
                            </f:facet>
                            <p:hotkey bind="right"
                                      update="detailsCard fieldsetListAllSources">
                                <f:actionListener binding="#{viewRBean.nextMediaItem()}"/>
                            </p:hotkey>
                            <p:hotkey bind="left"
                                      update="detailsCard fieldsetListAllSources">
                                <f:actionListener binding="#{viewRBean.previousMediaItem()}"/>
                            </p:hotkey>
                            <p:hotkey bind="space"
                                      handler="playPauseVideo()"
                                      update="detailsCard fieldsetListAllSources"/>
                            <p:dialog modal="true"
                                      widgetVar="fullMediaItemDialog"
                                      closeOnEscape="true"
                                      onHide="pauseVid()"
                                      resizeable="false"
                                      width="83vw"
                                      height="83vh"
                                      onShow="PF('fullMediaItemDialog').initPosition()"
                                      style="align-items: center;">
                                <p:outputLabel rendered="#{viewRBean.loadedMediaItem.mediaItemIsVideo}">
                                    <p:video id="currentVideo"
                                             value="#{mediaItemStreamerBean.fullMediaItem}"
                                             style="border: 2px solid white;"
                                             update="detailsCard fieldsetListAllSources"
                                             player="mp4"
                                             controls="true"
                                             preload="auto">
                                        <f:param name="mediaItemID" value="#{mediaItemID}"/>
                                    </p:video>
                                </p:outputLabel>
                                <p:outputLabel rendered="#{not viewRBean.loadedMediaItem.mediaItemIsVideo}">
                                    <p:graphicImage value="#{mediaItemStreamerBean.fullMediaItem}"
                                                    style="border: 2px solid white;"
                                                    update="detailsCard fieldsetListAllSources"
                                                    cache="false"
                                                    width="#{settingsBean.getFullViewMaxScaledWidth(viewRBean.loadedMediaItem.originalWidth,viewRBean.loadedMediaItem.originalHeight)}"
                                                    height="#{settingsBean.getFullViewMaxScaledHeight(viewRBean.loadedMediaItem.originalWidth,viewRBean.loadedMediaItem.originalHeight)}">
                                        <f:param name="mediaItemID" value="#{mediaItemID}"/>
                                    </p:graphicImage>
                                </p:outputLabel>
                            </p:dialog>
                            <p:commandButton
                                    value="Download Media Item"
                                    icon="pi pi-download"
                                    iconPos="left"
                                    styleClass="ui-button-success"
                                    ajax="false"
                                    action="#{mediaItemStreamerBean.downloadFullMediaItem}">
                                <f:param name="mediaItemID" value="#{mediaItemID}"/>
                            </p:commandButton>
                            <p:commandButton
                                    value="Delete Media Item"
                                    icon="pi pi-trash"
                                    action="#{viewRBean.updateDB()}"
                                    styleClass="ui-button-danger"
                                    style="left: 90px;"
                                    ajax="false"
                                    disabled="#{not userBean.hasPermission('editor')}">
                                <f:actionListener binding="#{viewRBean.deleteMediaItem()}"/>
                            </p:commandButton>
                        </p:panelGrid>

                        <p:fieldset id="fieldsetListAllSources" legend="Media Details" class="fieldsetDetails"
                                    style="margin-top: 20px;">
                            <p:panelGrid style="width:600px">
                                <p:row>
                                    <p:column style="background-color: #247577; border-radius: 10px;">
                                        <p:outputLabel class="bold fieldsetLabelDetails" value="Index"/>
                                    </p:column>
                                    <p:column style="background-color: #e8feff; border-radius: 10px;">
                                        <p:outputLabel class="fieldsetLabelDetailsInfoText"
                                                       value="#{viewRBean.loadedMediaItem.id}"/>
                                    </p:column>
                                </p:row>
                                <p:row>
                                    <p:column style="background-color: #247577; border-radius: 10px;">
                                        <p:outputLabel class="bold fieldsetLabelDetails"
                                                       value="Media UUID"/>
                                    </p:column>
                                    <p:column style="background-color: #e8feff; border-radius: 10px;">
                                        <p:outputLabel class="fieldsetLabelDetailsInfoTextWrapAnywhere"
                                                       value="#{viewRBean.loadedMediaItem.mediaUUID}"/>
                                    </p:column>
                                </p:row>
                                <p:row>
                                    <p:column style="background-color: #247577; border-radius: 10px;">
                                        <p:outputLabel class="bold fieldsetLabelDetails" value="Source"/>
                                    </p:column>
                                    <p:column style="background-color: #e8feff; border-radius: 10px;">
                                        <p:outputLabel class="fieldsetLabelDetailsInfoText"
                                                       value="#{viewRBean.loadedMediaItem.source}"/>
                                    </p:column>
                                </p:row>
                                <p:row>
                                    <p:column style="background-color: #247577; border-radius: 10px;">
                                        <p:outputLabel class="bold fieldsetLabelDetails" value="User from source"/>
                                    </p:column>
                                    <p:column style="background-color: #e8feff; border-radius: 10px;">
                                        <p:outputLabel class="fieldsetLabelDetailsInfoText"
                                                       value="#{viewRBean.loadedMediaItem.sourceUsername}"/>
                                    </p:column>
                                </p:row>
                                <p:row>
                                    <p:column style="background-color: #247577; border-radius: 10px;">
                                        <p:outputLabel class="bold fieldsetLabelDetails" value="Added On"/>
                                    </p:column>
                                    <p:column style="background-color: #e8feff; border-radius: 10px;">
                                        <p:outputLabel class="fieldsetLabelDetailsInfoText"
                                                       value="#{viewRBean.loadedMediaItem.addedOn}"/>
                                    </p:column>
                                </p:row>
                                <p:row>
                                    <p:column style="background-color: #247577; border-radius: 10px;">
                                        <p:outputLabel class="bold fieldsetLabelDetails" value="Media Type"/>
                                    </p:column>
                                    <p:column style="background-color: #e8feff; border-radius: 10px;">
                                        <p:outputLabel class="fieldsetLabelDetailsInfoText"
                                                       value="#{viewRBean.loadedMediaItem.mediaType}"/>
                                    </p:column>
                                </p:row>
                                <p:row>
                                    <p:column style="background-color: #247577; border-radius: 10px;">
                                        <p:outputLabel class="bold fieldsetLabelDetails" value="Tags"/>
                                    </p:column>
                                    <p:column style="background-color: #e8feff; border-radius: 10px;">
                                        <ui:repeat value="#{viewRBean.loadedMediaItem.tags}" var="tag">
                                            <p:outputLabel class="fieldsetLabelDetailsTagText"
                                                           style="background-color:#247577; white-space: nowrap;">
                                                <p:commandButton ajax="false"
                                                                 value="#{tag}"
                                                                 action="#{viewRBean.searchTag(tag)}"
                                                                 style="background: none;"/>
                                                <p:commandButton icon="pi pi-trash"
                                                                 ajax="false"
                                                                 style="background: none; color: red; width:20px; height:22px; top: 8px;"
                                                                 disabled="#{not userBean.hasPermission('editor')}">
                                                    <f:actionListener binding="#{viewRBean.deleteTag(tag)}"/>
                                                </p:commandButton>
                                            </p:outputLabel>
                                        </ui:repeat>
                                        <p:outputLabel style="display:block; margin-top: 15px">
                                            <p:autoComplete
                                                    id="tagSelectAutocomplete"
                                                    value="#{viewRBean.newTag}"
                                                    completeMethod="#{viewRBean.completeSearch}"
                                                    minQueryLength="3"
                                                    style="left:10px;">
                                                <p:ajax event="itemSelect" process="@this" update="@this"/>
                                            </p:autoComplete>
                                            <p:commandButton
                                                    ajax="false"
                                                    value="ADD TAG"
                                                    icon="pi pi-plus"
                                                    iconPos="left"
                                                    styleClass="ui-button-success"
                                                    style="left:20px"
                                                    disabled="#{not userBean.hasPermission('editor')}">
                                                <f:actionListener binding="#{viewRBean.addTag()}"/>
                                            </p:commandButton>
                                        </p:outputLabel>
                                    </p:column>
                                </p:row>
                                <p:row>
                                    <p:column style="background-color: #247577; border-radius: 10px;">
                                        <p:outputLabel class="bold fieldSetLabelDetailsTagBox"
                                                       value="Full Media Filepath"/>
                                    </p:column>
                                    <p:column style="background-color: #e8feff; border-radius: 10px;">
                                        <p:outputLabel class="fieldsetLabelDetailsInfoTextWrapAnywhere"
                                                       value="#{viewRBean.loadedMediaItem.filePathFull}"/>
                                    </p:column>
                                </p:row>
                                <p:row>
                                    <p:column style="background-color: #247577; border-radius: 10px;">
                                        <p:outputLabel class="bold fieldSetLabelDetailsTagBox"
                                                       value="Original Width"/>
                                    </p:column>
                                    <p:column style="background-color: #e8feff; border-radius: 10px;">
                                        <p:outputLabel class="fieldsetLabelDetailsInfoText"
                                                       value="#{viewRBean.loadedMediaItem.originalWidth}"/>
                                    </p:column>
                                </p:row>
                                <p:row>
                                    <p:column style="background-color: #247577; border-radius: 10px;">
                                        <p:outputLabel class="bold fieldSetLabelDetailsTagBox"
                                                       value="Original Height"/>
                                    </p:column>
                                    <p:column style="background-color: #e8feff; border-radius: 10px;">
                                        <p:outputLabel class="fieldsetLabelDetailsInfoText"
                                                       value="#{viewRBean.loadedMediaItem.originalHeight}"/>
                                    </p:column>
                                </p:row>
                                <p:row>
                                    <p:column style="background-color: #247577; border-radius: 10px;">
                                        <p:outputLabel class="bold fieldSetLabelDetailsTagBox"
                                                       value="Original Size"/>
                                    </p:column>
                                    <p:column style="background-color: #e8feff; border-radius: 10px;">
                                        <p:outputLabel class="fieldsetLabelDetailsInfoText"
                                                       value="#{viewRBean.loadedMediaItem.fileSizeAsText}"/>
                                    </p:column>
                                </p:row>
                            </p:panelGrid>
                        </p:fieldset>
                    </p:card>
                </h:form>
            </p:column>
        </p:row>
        <p:row>
            <p:column>
                <p:panelGrid columns="2">
                    <p:card style="width: 53px; height: 50px; display: flex; justify-content: center; align-items: center;">
                        <p:outputLabel class="bold" value="#{viewRBean.getVersion()}"/>
                    </p:card>
                    <p:card style="width: 53px; height: 50px; display: flex; justify-content: center;">
                        <p:linkButton type="button"
                                      icon="pi pi-github"
                                      styleClass="rounded-button ui-button-info"
                                      href="https://gitlab.com/MTOCHIEV/viewR"
                                      style="background: #689f38; outline: dotted;"/>
                    </p:card>
                </p:panelGrid>
            </p:column>
        </p:row>
    </p:panelGrid>
</h:body>
</html>